/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url("./glintor.png") 2 2, pointer; */
  cursor: url("./Transparent.cur"), pointer;
}

body,
html {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(157, 0, 0);
}

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-panel {
  width: 50%;
  /* background-image: url("./glintground.jpg"); */
  padding: 20px;
  margin: 100px;
  position: fixed;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.bottom-links {
  margin-top: 20px; /* Spacing above links */
  display: flex;
  gap: 10px; /* Add space between the links */
}

.contact-info {
  align-self: center;
  margin: 25%;
  padding: 2em;
}

.right-panel {
  margin-left: 50%; /* To ensure the right panel starts after the left panel */
  width: 50%;
  padding-left: 5em;
  padding-top: 20%;
  height: 100%;
  overflow-y: auto;
  /* background-image: linear-gradient(rgb(5, 111, 32), white); */
  /* background-image: url("./DSC05201.JPG"); */
}

.scroll-content {
  display: flex;
  flex-flow: column;
  padding-right: 20px; /* Prevent content from touching scrollbar */
}
